@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    /* overflow: hidden; */
    color: #ededed;
    background: #081b29;
}

.navbar{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: #051129;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo{
    font-size: 30px;
    cursor: pointer;
}
.nav-links ul{
    display: flex;
    gap: 35px;
    list-style: none; 
    
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 0 10px;

}
.menu-btn{
    display: none;
}
.nav-links ul :hover{
    background: #0ef;
    border-radius: 20px;
    box-shadow: 0 0 25px #0ef;
}


/* home section */
.home{
    position: relative;
    margin-top: 160px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
}
.home-left{
    text-align: justify;
    margin-left: 50px;

}
.home-left h3{
    font-size: 30px;
    margin-bottom: 1rem;
}
.home-left h1{
    font-size: 55px;
}
.home-left h4{
    margin-bottom: 1rem;
}
.home-left p{
    font-size: 18px;
    font-size: 20px;
}
.home-links{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.home-links a{
    text-decoration: none;
    font-size: 30px;
    border: 1px solid #0ef;
    color: #0ef;
    padding: 0px 8px;
    border-radius: 50%;
}
.home-links a:hover{
    background: #0ef;
    color: white;
    box-shadow: 0 0 25px #0ef;
}
.hire-btn{
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: 1px solid #0ef;
    font-size: 20px;
    color: white;
    width: 200px;
    border-radius: 30px;
    padding: 5px 0;
}
.hire-btn:hover{
    background: #0ef;
    color: white;
    box-shadow: 0 0 16px #0ef;
}
.home-right{
    margin-right: 50px;
}
.home-right img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}


/* about section */
.about{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}
.about-right img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.about-left h1{
    margin-bottom: 2rem;
    font-size: 50px;
}
.about-left p{
    margin-bottom: 1rem;
    font-size: 18px;
}
.about-left h4{
    margin-bottom: 1rem;
    font-size: 20px;
    border: 1px solid aliceblue;
    /* width: 420px; */
    padding: 10px 10px;
    border-radius: 8px;
    line-height: 25px;
    margin-top: 10px;
    box-shadow: 0 0 15px cyan;
}
.about-left h5{
    border: 1px solid aliceblue;
    /* width: 420px; */
    padding: 10px 10px;
    border-radius: 8px;
    line-height: 25px;
    margin-top: 8px;
    box-shadow: 0 0 15px cyan;
}


/* skills section */
.skill-heading{
    text-align: center;
    margin-top: 60px;

}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    gap: 90px;
    margin-bottom: 60px;
}
.skill-left{
    height: 500px;
    margin-top: 30px;
    padding: 10px 10px;
}
.skill-left h1{
    padding-bottom: 20px;
}
.skill-right{
    height: 500px;
    margin-top: 30px;
    padding: 10px 10px;
}
.skill-right h1{
    padding-bottom: 20px;
}

.progress-bar-container:not(:last-child){
    margin-bottom: 30px;
}
.progress-bar-container h2{
    letter-spacing: 1px;
    font-size: 20px;
}
.progress-bar {
    width: 500px;
    height: 5px;
    margin-top: 10px;
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px #0ef;
}
.percentage {
    display: block;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}
.java{
    width: 60%;
}
.html{
    width: 80%;
}
.css{
    width: 75%;
}
.javascript{
    width: 70%;
}
.bootstrap{
    width: 80%;
}
.reactjs{
    width: 60%;
}
.creativity{
    width: 90%;
}
.communication{
    width: 70%;
}
.pbsolving{
    width: 75%;
}
.teamwork{
    width: 85%;
}
@keyframes progress{
    from{
        width: 0;
    }
}

/* project section */
.project{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.project h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.project-list{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around; 
  gap: 30px;
}
.p1{
    border: 1px solid #0ef;
    border-radius: 6px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    transition: transform 0.5s;
}
.p1 h4{
    margin-bottom: 4px;
}
.p1 img{
    width: 100%;
    margin-bottom: 8px;
}
.p1 a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: max-content;
    padding: 3px 3px;
    border-radius: 10px;
}
.p1 a:hover{
    border: none;
    border-radius: 10px;
    background: #0ef;
    color: white;
    box-shadow: 0 0 10px #0ef;
}
.more-p {
    margin-top: 20px;
    text-align: right;
}
.more-p button{
   padding: 5px 5px;
   background: transparent;
   color: white;
   border: 1px solid #0ef;
   border-radius: 10px;
   cursor: pointer;
}
.more-p button:hover{
    background: #0ef;
    border: none;
    color: white;
    box-shadow: 0 0 10px #0ef;
}
/* .p1:hover{
    transform: translateY(-10px);
} */

/* contact section */
.contact-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 30px;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 60px;
}
.contact-left{
   display: flex;
   flex-direction: column;
}
.contact-left h2{
    margin-bottom: 30px;
}
.contact-left a{
    text-decoration: none;
    color: white;
}
.contact-left i{
    color: #0ef;
    border: 1px solid #0ef;
    padding: 2px 2px;
}
.contact-link{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.contact-link i{
    padding: 4px 4px;
    border-radius: 10px;
}
.contact-right{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-right form input{
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.contact-right form textarea{
    resize: none;
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    border-radius: 4px;

}
.contact-right form button{
    width: 100%;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 4px;
    background: #0ef;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-link a i:hover{
    background: #0ef;
    color: white;
    border: none;
    box-shadow: 0 0 10px #0ef;
}
.contact-left a i:hover{
    background: #0ef;
    color: white;
    border: none;
    box-shadow: 0 0 10px #0ef;
}
.contact-right form button:hover{
    background: #0ef;
    color: white;
    border: none;
    box-shadow: 0 0 10px #0ef;
}
footer{
    background: rgb(7, 85,91);
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.sidebar{
    display: none;
}
